@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", serif;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 1.3rem;
  color: #007bff;
}

.planner-container {
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: white;
  border-right: 2px solid lightskyblue;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.input-container label {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-container label i {
  font-size: 18px;
  color: #007bff;
}

.input-container div {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
  background-color: #fff;
}

.input-container input::placeholder {
  color: #aaa;
}

.input-container div i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
  pointer-events: none;
}

.suggestions-container {
  max-height: 200px;
  font-size: 0.8rem;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  width: 100%;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  text-overflow: ellipsis;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

#map {
  background-color: lightskyblue;
  margin-left: 300px;
  height: 100vh;
  box-sizing: border-box;
}

#vehicle-modal-container {
  width: 300px;
  min-height: 100vh;
  background-color: white;
  border-right: 2px solid lightskyblue;
  position: fixed;
  z-index: 10;
  display: none;
}

#closeModalVehicleBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

#vehicle-list-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.vehicle-modal-title {
  font-size: 1.5rem;
  padding: 10px;
}

.vehicle-container {
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 10px 0px;
}

.vehicle-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.vehicle-thumbnail {
  width: 100px;
}

.vehicle-details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#selected-vehicle-container {
  display: flex;
  flex-direction: column;
}

.vehicle-model {
  font-weight: bold;
}

.vehicle-make {
  text-transform: uppercase;
}

.vehicle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border: 2px dashed #ccc;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.vehicle-button i {
  font-size: 24px;
  margin-right: 10px;
}

.vehicle-button:hover {
  background-color: #f9f9f9;
  border-color: #999;
}

.vehicle-button:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.vehicle-details-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.vehicle-details-thumnail {
  width: 100%;
}

.route-button {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.route-button i {
  font-size: 24px;
}

.route-button:hover {
  background-color: #0056b3;
}

.route-button:active {
  background-color: #004494;
}

.vehicle-thumbnail {
  max-width: 300px;
  margin-bottom: 20px;
}
.vehicle-details {
  text-align: left;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}
.vehicle-details h2 {
  text-align: center;
}
.vehicle-details p {
  margin: 8px 0;
}
.vehicle-details ul {
  padding-left: 20px;
}

#selected-vehicle-container {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
}

#selected-vehicle-container:hover {
  background-color: #ccc;
}

.selected-vehicle-thumbnail {
  width: 100%;
}

.itinerary-details-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  z-index: 1000;
  border: 5px solid #007bff;
  display: none;
  flex-direction: column;
}

p {
  margin: 0;
}

.distance-details-container {
  display: flex;
  flex-direction: column;

  gap: 4px;
}

.total-duration-wrapper {
  font-weight: bold;
  font-size: 1.4rem;
  margin: 10px 0px;
}

.avg-speed-wrapper {
  font-weight: 500;
}

.autonomy-details-container {
  display: flex;
  flex-direction: column;
}

.autonomy-details-container h3 {
  color: #007bff;
}

.autonomy-details {
  display: flex;
  gap: 2px;
}

.total-price-wrapper {
  font-weight: bold;
  color: #007bff;
}

.itinerary-important {
  display: flex;
  gap: 10px;
  color: #007bff;
  font-weight: bolder;
  font-size: 1.8rem;
  margin: 10px 0px 0px 0px;
}
